/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  